<div class="nav-container">
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'user'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome User</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#/profile">Profile</a></li> 
                    <li><a href="#/reports">Reports</a></li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'doctor'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome Doctor</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#" >Home</a></li>
                    <li><a href="#/profile">Profile</a></li> 
                    <li class="dropdown">
                        <a href="#/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/reports">View Reports</a></li>
                            <li><a href="#/reports/search">Search</a></li>
                            <li><a href="#/reports/new">New Report</a></li>
                        </ul>
                    </li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-controller="reportController" class="jumbotron" ng-if="$root['auth-token'].usertype == 'user'">
    <div class="container" style="padding:2%;">
    <h1>Reports</h1>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
            <th>Report ID</th>
            <th>Report Title</th>
            <th>Report Date</th>
            <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="report in reports">
                <td>{{report.report_id}}</td>
                <td>{{report.title}}</td>
                <td ng-bind="report.report_date | date: 'dd/MM/yyyy'"></td>
                <td><a ng-href="#/reports/{{report.report_id}}">Full Report</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<div ng-controller="reportController" class="jumbotron" ng-if="$root['auth-token'].usertype == 'doctor'||$root['auth-token'].usertype =='hospital'">
    <div class="container" style="padding:2%;">
    <h1>Last Added Reports</h1>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
            <th>Report ID</th>
            <th>Report Title</th>
            <th>Report Date</th>
            <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="report in reports">
                <td>{{report.report_id}}</td>
                <td>{{report.title}}</td>
                <td ng-bind="report.report_date | date: 'dd/MM/yyyy'"></td>
                <td><a ng-href="#/reports/{{report.report_id}}">Full Report</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>