<div class="navbar navbar-default navbar-fixed-top col-md-12" ng-controller="loginController">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
    </button>
    <div class="container-fluid collapse navbar-collapse" id="myNavbar">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <label>Usertype</label>
                <select class="form-control input-sm" ng-model="loginuser.usertype">
                    <option ng-repeat="type in usertypes" value="{{type}}">{{type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nav_user_id">User ID</label>
                <input type="text" id="nav_user_id" class="form-control input-sm" ng-model="loginuser.user_id"></input>
            </div>
            <div class="form-group">
                <label for="nav_user_password">User Password</label>
                <input type="password" id="nav_user_password" class="form-control input-sm" ng-model="loginuser.user_password"></input>
            </div>
            <div class="form-group" style="padding:3px">
                <button type="button" class="btn btn-default btn-sm" ng-click="login()">Login</button>
            </div>
        </form>
    </div>
</div>
<div class="container" style="padding-top : 10%;">
<div ng-controller="loginController" class="col-md-offset-4 col-md-4">
    
        <form validate>
                <div class="form-group">
                    <label for="usertype">Usertype</label>
                    <select class="form-control" ng-model="loginuser.usertype" required>
                        <option ng-repeat="type in usertypes" value="{{type}}">{{type}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="user_id">User ID</label>
                    <input type="text" class="form-control" ng-model="loginuser.user_id" placeholder="User ID" required>
                </div>
                <div class="form-group">
                    <label for="user_password">Password</label>
                    <input type="password" class="form-control" ng-model="loginuser.user_password" id="user_password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <a type="button" class = "btn btn-default" ng-click="login()">Login</a>
                        <a class ="btn btn-default" href="#/forgot">Forgot ID/Password</a>
                    </div>
                    <a ng-href="#/register/user" class="btn btn-lg btn-default btn-block" style="margin-top:1%;">Register New User</a>
                </div>
        </form>
{{error}}
    </div>
</div>