<div class="nav-container">
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'user'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome User</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/profile">Profile</a></li> 
                    <li class="active"><a href="#/reports">Reports</a></li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'doctor'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome Doctor</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/profile">Profile</a></li> 
                    <li class="active dropdown">
                        <a href="#/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/reports">View Reports</a></li>
                            <li><a href="#/reports/search">Search</a></li>
                            <li><a href="#/reports/new">New Report</a></li>
                        </ul>
                    </li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" ng-controller="newReportController">
    <div class="container">
        <h1>New Report</h1>
        <form>
            <table class="table table-striped table-hover">
                <tr>
                    <td>Title</td><td><input type="text" ng-model="newreport.title"></input></td>
                </tr>
                <tr>
                    <td>Patient Aadhaar ID</td><td><input type="text" ng-model="newreport.user_id"></input></td>
                </tr>
                <tr>
                    <th colspan=2>Tests</th>
                </tr>
                <tr>
                    <td>Test Name</td><td><input type="text" ng-model="newreport.test_name"></input></td>
                </tr>
                <tr>
                    <th colspan=2>Properties</th>
                </tr>
                <tr>
                    <td>Property Name</td><td><input type="text" ng-model="newreport.test_property_name"></input></td>
                </tr>
                <tr>
                    <td>Property Value</td><td><input type="text" ng-model="newreport.test_property_value"></input></td>
                </tr>
                <tr>
                    <td style="max-width:50%;"><button class="btn btn-default" ng-click="addReport()" style="width:80%;">Submit</button></td><td style="max-width:50%;"><button style="width:80%;" class="btn btn-default"  ng-click="resetReport()">Reset</button></td>
                </tr>
        </form>
    </div>
    {{error}}
</div>
<script>
    var count=1;
    $('#newTest').click(function(){
        $("<input type='text' value='' />")
            .attr("id", "myfieldid")
            .attr("name", "myfieldid")
            .appendTo("#form-0");
    });
     
</script>