<div class="nav-container">
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'user'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome User</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/profile">Profile</a></li> 
                    <li class="active"><a href="#/reports">Reports</a></li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'doctor'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome Doctor</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/profile">Profile</a></li> 
                     <li class="active dropdown">
                        <a href="#/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/reports">View Reports</a></li>
                            <li><a href="#/reports/search">Search</a></li>
                            <li><a href="#/reports/new">New Report</a></li>
                        </ul>
                    </li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" ng-controller="reportController">
    <div class="container" style="padding-top : 10%;">
    <h1>{{report.title}}</h1>
    <div class="panel panel-default" ng-repeat="test in report.tests">
        <div class="panel-heading">
            <h3>Test : {{test.test_name}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Property</th>
                    <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="property in test.test_properties">
                    <td>{{$index+1}}</td>
                    <td>{{property.property_name}}</td>
                    <td>{{property.property_value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <div class="well well-inline">
            Uploaded By : {{report.upload_info.name}}
        </div>
        <div class="well well-inline">
            Last Updated On :{{report.upload_date | date : 'dd/MM/yyyy'}}
        </div>
        <div class="well well-inline">
            Report Date :{{report.report_date | date :  'dd/MM/yyyy'}}
        </div>
        <div class="well well-inline">
            Report ID :{{report.report_id}}
        </div>
    </div>
    </div>
</div>