<!DOCTYPE HTML>
<html>
    <head>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script>
            var app = angular.module('testApp',['ngCookies']);
            app.controller('testController', function($scope, $cookies){
                $scope.app = "Hello World";
            });
        </script>
    </head>
    <body ng-app="testApp" ng-controller="testController">
        {{app}}
    </body>
</html>