<div class="nav-container">
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'user'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome User</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#/profile">Profile</a></li> 
                    <li><a href="#/reports">Reports</a></li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" ng-if="$root['auth-token'].usertype == 'doctor'" ng-controller="loginController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a href="#" ><div class="navbar-brand">Welcome Doctor</div></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#/profile">Profile</a></li> 
                    <li class="dropdown">
                        <a href="#/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/reports">View Reports</a></li>
                            <li><a href="#/reports/search">Search</a></li>
                            <li><a href="#/reports/new">New Report</a></li>
                        </ul>
                    </li> 
                </ul>
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="button" class="btn btn-default btn-sm" ng-click="logout()" value="Logout" style="margin-right:10px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" ng-controller="profileController">
    <div class="container" ng-if="user">
        <h1><span ng-if="$root['auth-token'].usertype=='user'">User</span><span ng-if="$root['auth-token'].usertype=='doctor'">Doctor</span><span ng-if="$root['auth-token'].usertype=='hospital'">Institution</span><span> Profile</span></h1>
        <table class="table table-striped table-hover" style="max-width:80%;">
            <tr>
                <td><span>Name : {{user.name.first_name}} </span><span ng-if="user.name.middle_name">{{user.name.middle_name}}</span><span> {{user.name.last_name}}</span></td>
            </tr>
            <tr>
                <td>DOB : {{user.dob | date : 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td>Primary Contact No : {{user.contact_number.primary}}</td>
            </tr>
            <tr ng-if="user.contact.secondary">
                <td >Secondary Contact No : {{user.contact_number.secondary}}</td>
            </tr>
            <tr>
                <td>E-Mail ID : {{user.email}}</td>
            </tr>
            <tr>
                <td>Address : {{user.address.address}},{{user.address.city}} - {{user.address.zipcode}},{{user.address.state}},{{user.address.country}}</td>
            </tr>
            <tr>
                <td><h3 ng-if="user.verified">Verification : Complete</h3>
                <h3 ng-if="!user.verified">Verification : Pending</h3></td>
            </tr>
            <tr ng-if="user.report_tokens && $root['auth-token'].usertype=='user' && user.verified">
                <td>
                    <table class="table table-striped table-hover ">
                        <caption>Report Tokens</caption>
                        <tr>
                        <th>Report ID</th><th>Report Token</th>
                        </tr>
                        <tr ng-repeat='token in user.report_tokens'>
                            <td>{{token.report_id}}</td><td>{{token.report_token}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="container" ng-if="!user">
        <h1>{{error}}</h1>
    </div>
</div>